<!-- page listing macros -->
{% macro page_info(page) %}
    <div class="article-info">
        {% if page.date %}
        {% set reading_time = "◦ " ~ page.reading_time ~ " min read" %}
        <div class="article-date">{{ page.date | date(format=config.extra.papaya_date_format) }} {{ reading_time }}</div>
        {% endif %}
        <div class="article-taxonomies">
            {% if page.taxonomies.categories %}
                <ul class="article-categories">
                    {% for cat in page.taxonomies.categories %}
                    <li><a href="{{ get_taxonomy_url(kind="categories", name=cat) | safe }}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if page.taxonomies.tags %}
                <ul class="article-tags">
                    {% for tag in page.taxonomies.tags %}
                    <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endmacro page_info %}

{% macro page_listing(page) %}
    <article class="post-list">
        <a href="{{ page.permalink }}">
            <header>
                <h3>
                    {{ page.title }}
                </h3>
            </header>

            {% if page.summary %}
            <div class="content post-summary">
                {{ page.summary | markdown | safe }}
            </div>
            {% endif %}
        </a>
        
        {{ self::page_info(page=page) }}
    </article>
{% endmacro page_listing %}

{% macro page_pagination(paginator) %}
    <div class="pagination">
        <div class="left pagination-item {% if not paginator.previous %}disabled{% endif %}">
            {% if paginator.previous %}
            <a href="{{ paginator.previous }}">To newer posts</a>
            {% endif %}
        </div>
        <div class="right pagination-item {% if not paginator.next %}disabled{% endif %}">
            {% if paginator.next %}
            <a href="{{ paginator.next }}">To older posts</a>
            {% endif %}
        </div>
    </div>
{% endmacro page_pagination %}

<!-- event listing macros -->
{% macro event_listing(page) %}
<article class="post-list">
    <a href="{{ page.permalink }}">
        <header>
            <h3>
                {{ page.title | truncate(length=38) }}
            </h3>
        </header>

        {% if page.summary %}
        <div class="content post-summary">
            {{ page.summary | markdown | safe }}
        </div>
        {% endif %}
    </a>
    {{ self::event_info(page=page) }}
</article>
{% endmacro event_listing %}

{% macro event_info(page) %}
<div class="article-info">
    {% set date = page.date | date(format="%B %e, %Y") %}

    {% if page.extra.start and page.extra.end %}
        {% set date = date ~ " ◦ " ~ page.extra.start ~ " - " ~ page.extra.end %}
    {% endif %}

    {% if page.extra.location %}
        {% set date = date ~ " ◦ " ~ page.extra.location %}
    {% endif %}

    <div class="article-date">{{ date }}</div>
</div>
{% endmacro event_info %}
