.member {
    display: flex;
    align-items: center;
}

.member .profile {
    width: 1100px;
    text-align: center;
    margin-right: 20px;
}

.member .profile img {
    width: 200px;
}

.member span {
}
