{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block title %}Events - {{ config.title }}{% endblock title %}

{% block content %}
<main id="main" tabindex="-1">
    <h1>Upcoming Events</h1>
    {% for page in section.pages %}
        {% set current_time = now() | date(format="%s") | int %}
        {% set page_time = page.date | date(format="%s") | int %}
        {% if current_time < page_time %}
            {{ page_macros::event_listing(page=page) }}
        {% endif %}
    {% endfor %}

    <h1>Past Event</h1>
    {% for page in section.pages %}
        {% set current_time = now() | date(format="%s") | int %}
        {% set page_time = page.date | date(format="%s") | int %}
        {% if current_time > page_time %}
            {{ page_macros::event_listing(page=page) }}
        {% endif %}
    {% endfor %}

</main>
{% endblock content %}
