{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block content %}
<main id="main" class="index" tabindex="-1">
    <section>
        {% set banner = resize_image(path="/static/banner.jpg", width=672, op="fit_width") %}
        <img src="{{ banner.url }}" class="index-banner" alt="A misty forest."/>
        <p>
            Welcome, we are the AES Student Section Erlangen-Nürnberg. We love audio technology.
            <br /><br />

            Sharing passion for audio is our mission. Therefore, we organize events, invite experts from different fields, and participate in conferences. On this website, you can find more <b>about</b> us, read our <b>recent news</b>, or find information on <b>upcoming events</b>. If you are interested in audio as well, come an join us!

            <br />
        </p>
        <p>
            <br />
            To stay connected you can subscribe our <b><a href="/newsletter">newsletter</a></b>, join our <b><a href="https://www.instagram.com/aes.erlangen_nuremberg" target="_blank">Instagram</a></b> or <b><a href="http://aes-erlangen.zulipchat.com" target="_blank">Zulip</a></b> or write us an <b><a href="mailto:hello@aes-erlangen.org">E-Mail</a></b>.
            <br />
        </p>
    </section>
    <section class="index-columns">
        <section class="index-listing">
            <h2>
                Upcoming Events
            </h2>
            {% set section = get_section(path="events/_index.md") %}
            {% for page in section.pages %}
                {% set current_time = now() | date(format="%s") | int %}
                {% set page_time = page.date | date(format="%s") | int + 86400 %}
                {% if current_time < page_time %}
                    {{ page_macros::event_listing(page=page) }}
                {% endif %}
            {% endfor %}
            <p class="read-more"><a href="events/">more events ≫</a></p>
        </section>
        <section class="index-listing">
            <h2>
                Recent news
            </h2>
            {% set section = get_section(path="news/_index.md") %}
            {% for page in section.pages | slice(end=2) %}
            {{ page_macros::page_listing(page=page) }}
            {% endfor %}
            <p class="read-more"><a href="news/">more news ≫</a></p>
        </section>
    </section>
</main>
{% endblock content %}
